<p>{{title}} & {{logo}}</p>
<h1>Login to continue</h1>
<p>{{error}}</p>
<form method="post" name="registration-form">

<input type="email" name="email" id="email" placeholder="email@domain.com" title="Email" onclick="this.placeholder='';" required="true" /><br><br>

<input type="password" name="password" id="password" placeholder="password" title="Password" onclick="this.placeholder='';" required="true"/><br><br>

<input type="submit" value="LOGIN"/>

<a href="/" title="">Back to home</a>
</form>
